*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
}
.outer{
	width: 100%;
	height: 5440px;
	/*border: 4px solid red;*/
	float: left;
}
#back_image{
	width: 100%;
	height: 100vh;
	/*border: 1px solid black;*/
	float: left;
	/*clear: both;*/
	background-image: url(images/vivek_back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.transparent{
	width: 100%;
	height: 100vh;
	float: left;
	/*border: 1px solid yellow;*/
	background-color: rgba(0,0,0, 0.7);
}
.top_nav{
	width: 100%;
	height: 90px;
	/*border: 1px solid black;*/
	display: flex;
	align-items: center;
	/*position: fixed;*/
	box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.left_nav{
	width: 10%;
	height: 80px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 105px;
	top: 18px;
    font-size: 36px;
}
.left_nav span{
	border: 7px solid #00A78E;
	padding: 0px 13px;
	font-size: 48px;
}
.right_nav{
	width: 40%;
	height: 50px;
	/*border: 1px solid red;*/
	position: absolute;
	right: 2%;
	font-size: 20px;
	font-weight: 500;
	padding-left: 10px;
	padding-top: 2px;
}
.name{
	color: white;
	font-weight: 700;
}
ul{
	list-style-type: none;
}
li{
	float: left;
	padding: 1.8% 4%;
}
a{
	color: white;
	text-decoration: none;
}
.active{
	color: #00A78E;
}
.banner{
	width: 88%;
	height: 495px;
	/*border: 2px solid white;*/
	position: absolute;
	right: 30px;
	bottom: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}
.banner_left_col{
	width: 50%;
	height: 470px;
	/*border: 2px solid darkred;	*/
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}
.banner_right_col{
	width: 40%;
	height: 495px;
	/*border: 2px solid yellow;	*/
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img_decoration{
	box-shadow: 0 2px 9px #FFFFFF;
}
.small_font{
	width: 100%;
	height: 30px;
	/*border: 1px solid darkolivegreen;*/
	font-size: 18px;
	font-weight: 600;
	color: #00A78E;
	letter-spacing: 1px;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 20px;
}
.banner_left_col span{
	width: 100%;
	height: 50px;
	/*border: 1px solid red;*/
	font-size: 48px;
	color: #00A78E;
	font-weight: 300;
}
.banner_left_col h1{
	width: 100%;
	height: 20px;
	/*border: 1px solid yellow;*/
	display: inline;
	font-size: 48px;
	margin-left: 5px;
	color: #DDEDEB  /*#3F3A64*/;
}
.banner_left_col h6{
	width: 100%;
	height: 30px;
	/*border: 1px solid blue;*/
	display: inline;
	font-size: 48px;
	margin-left: 5px;
	color: #DDEDEB;/* #3F3A64;*/
	font-weight: 600;
}
.profession{
	width: 100%;
	height: 50px;
	/*border: 1px solid pink;*/
	font-size: 48px;
	color: #00A78E;
	font-weight: 300;
	display: inline;
	margin-top: 5px;
}
.banner_left_col p{
	width: 100%;
	height: 90px;
	/*border: 1px solid white;*/
	font-size: 19.2px;
	color: #6E6B69;
	margin-top: 14px;
}
.big_font{
	word-spacing: 10px;
}
.link-box{
	 width: 133px;
	 height: 58px;
	 border: 3px solid lightgray;
	 text-align: center;
	 font-size: 18px;
	 margin-top: 10%;
	 padding-top: 12px;
	 background-color: #00A78E;
	 border-radius: 12px;
	 display: inline-block;
}
.link-box a{
	color: white;
}
.link-box2{
	 width: 133px;
	 height: 54px;
	 border: 1px solid #8E43E7;
	 text-align: center;
	 font-size: 18px;
	 margin-top: 10%;
	 padding-top: 12px;
	 background-color: white;
	 border-radius: 12px;
	 display: inline-block;
}
.link-box2 a{
	color: #8E43E7;
}




.about_section{
	width: 100%;
	height: 620px;
	/*border: 2px solid black;	*/
	float: left;
	margin-top: 150px;
}
.about_me{
	width: 100%;
	height: 100px;
	/*border: 2px solid blue;	*/
	float: left;
	background-color: #F9F7FE;	
	padding-left: 20%;
}
.left_container{
	width: 35%;
	height: 520px;
	/*border: 1px solid red;	*/
	float: left;
}
.right_container{
	width: 65%;
	height: 520px;
	/*border: 1px solid green;	*/
	float: left;
}
.left_image{
	width: 380px;
	height: 85%;
	border: 20px solid black;	
	float: right;
	/*margin-left: 90px;*/
	margin-top: 50px;
	background-image: url(images/vivek.png);
	background-size: cover;
	background-position: top;
}
.bold_text{
	width: 80%;
	height: 100px;
	font-size: 50px;
	font-weight: 500;
	color: /*#3F3A64*/ #00A78E;
	/*border: 2px solid black;*/
	display: flex;
	justify-content: center;
	padding-top: 10px;
}
.my_name{
	width: 665px;
	height: 135px;
	/*border: 2px solid green;	*/
	float: left;
	margin-top: 5.7%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.my_name h2{
	width: 610px;
	height: 40px;
	/*border: 1px solid brown;*/
	font-size: 30px;
	font-weight: 600px;
	letter-spacing: 3px;
	margin-top: 30px;
	margin-left: 28px;
}
.my_name p{
	width: 610px;
	height: 25px;
	/*border: 1px solid green;*/
	font-size: 20px;
	font-weight: 500px;
	letter-spacing: 2px;
	margin-left: 28px;
}
.intro_text{
	width: 665px;
	height: 300px;
	/*border: 2px solid blue;	*/
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.small_font2{
	font-size: 18px;
	font-weight: 600;
	color: #00A78E;
	letter-spacing: 1px;
	line-height: 36px;
	text-transform: uppercase;
	padding-top: 10px;
}
.my_info{
	width: 100%;
	height: 94px;
	/*border: 2px solid aqua;	*/
	margin-top: 20px;
}
.single_info{	
	width: 50%;
	height: 47px;
	/*border: 2px solid red;*/
	float: left;
}
.name_heading{
	font-size: 20px;
	font-weight: 600;
	color: #3F3A64;
	margin-top: 20px;
	display: inline;
}
.answers{
	font-size: 20px;
	margin-top: 15px;
	color: #696969;
	display: inline;
	font-weight: 300;
	margin-left: 15px;
}
.single_info a{	
	color: blue;
	margin-left: 15px;
}
.link-box3{
	 width: 180px;
	 height: 58px;
	 border: 3px solid lightgray;
	 text-align: center;
	 font-size: 18px;
	 margin-top: 15px;
	 padding-top: 14px;
	 background-color: #7A21E3;
	 border-radius: 12px;
	 display: inline-block;
}
.link-box3 a{
	color: white;
}
.intro_text span{
	font-size: 48px;
	color: #3F3A64;
	font-weight: 400;
}
.intro_text p{
	font-size: 19.2px;
	color: #6E6B69;
	margin-top: 10px;
}




.hobbies{
	width: 100%;
	height: 350px;
	/*border: 2px solid green;	*/
	float: left;
	margin-top: 150px;
}
.hobbies_box{
	width: 100%;
	height: 200px;
	/*border: 2px solid purple;	*/
	margin-top: 50px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f5dfcf6b;
}
.inner_boxes{
	width: 20%;
	height: 200px;
	/*border: 2px solid sandybrown;*/
}
.hobby_image{
	width: 35%;
	height: 80px;
	/*border: 2px solid red;*/
	margin: 20px 0 0 80px;
}
.hobby_text{
	width: 80%;
	height: 35px;
	/*border: 2px solid sandybrown;*/
	margin: 20px 0 0 30px;
	font-size: 20px;
	font-weight: 700;
	padding-left: 25px;
	color: #3F3A64;
}
.hobby_text p{
	font-size: 20px;
	font-weight: 700;
	padding-left: 20px;
	color: #3F3A64;
}




.skills{
	width: 100%;
	height: 634px;
	/*border: 2px solid coral;	*/
	float: left;
	margin-top: 150px;
}
.skills_text{	
	width: 70%;
	height: 126px;
	/*border: 2px solid pink;	*/
	float: left;
	margin-left: 80px;
}
.skills_text p{	
	font-size: 21px;
	padding: 35px;
	color: #6E6B69;
	text-align: center;
}
.skills_upper_row{
	width: 100%;
	height: 200px;
	/*border: 2px solid gray;	*/
	float: left;
	margin-top: 120px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.upper_row_box{
	width: 25%;
	height: 100%;
	/*border: 2px solid red;	*/
}
.skills_lower_row{
	width: 100%;
	height: 200px;
	/*border: 2px solid blue;	*/
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}
.lower_row_box{
	width: 25%;
	height: 100%;
	/*border: 2px solid darkolivegreen;	*/
}
.skill_image{
	width: 30%;
	height: 50%;
	/*border: 2px solid darkred;*/
	margin: 20px 0 0 115px;
	display: inline-block;
}
.skill_image2{
	width: 30%;
	height: 50%;
	/*border: 2px solid darkred;*/
	margin: 20px 0 0 115px;
	display: inline-block;
	padding-left: 13px;
}
.skill_image3{
	width: 30%;
	height: 50%;
	/*border: 2px solid darkred;*/
	margin: 20px 0 0 115px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 5px;
}
.skill_image4{
	width: 30%;
	height: 50%;
	/*border: 2px solid darkred;*/
	margin: 20px 0 0 115px;
	display: inline-block;
	padding-left: 12px;
}
.skill_image5{
	width: 30%;
	height: 50%;
	/*border: 2px solid darkred;*/
	margin: 20px 0 0 115px;
	display: inline-block;
	padding-top: 33px;
}
.skill_image6{
	width: 30%;
	height: 50%;
	/*border: 2px solid darkred;*/
	margin: 20px 0 0 115px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 25px;
}
.skill_text{
	width: 100%;
	height: 40%;
	/*border: 2px solid darkred;*/
	float: left;
}
.skill_inner_text{
	width: 100%;
	height: 30px;
	/*border: 2px solid brown;*/
	float: left;
	text-align: center;
	font-size: 18px;
	color: #C3008B;
}
.progress_bar{
	width: 60%;
	height: 10px;
	/*border: 2px solid red;*/
	margin-top: 40px;
	margin-left: 65px;
	background-color: #D3D3D3;	
	border-radius: 5px;
}
.progress_color{
	width: 90%;
	height: 9px;
	/*border: 2px solid blue;*/
	background-color: #F16529;
	border-radius: 5px;
}
.progress_color2{
	width: 90%;
	height: 9px;
	/*border: 2px solid blue;*/
	background-color: #2965F1;
	border-radius: 5px;
}
.progress_color3{
	width: 80%;
	height: 9px;
	/*border: 2px solid blue;*/
	background-color: #7309F5;
	border-radius: 5px;	
}
.progress_color4{
	width: 85%;
	height: 9px;
	/*border: 2px solid blue;*/
	background-color: #E8C831;
	border-radius: 5px;	
}
.progress_color5{
	width: 70%;
	height: 9px;
	/*border: 2px solid blue;*/
	background-color: #87CEEB;
	border-radius: 5px;	
}
.progress_color6{
	width: 70%;
	height: 9px;
	/*border: 2px solid blue;*/
	background-color: #0ACF83 /*#001D34*/;
	border-radius: 5px;	
}

.works{
	width: 100%;
	height: 1400px;
	/*border: 2px solid orange;	*/
	float: left;
	margin-top: 150px;
	background-color: #EAEAEA;
}
.about_work{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.4);
    line-height: 33px;
    padding: 8px;
    /*border: 1px solid black; */
    margin-top: 110px;
}
.work_pic {
    width: 100%;
    height: 1216px;
    text-align: center;
    /*border: 1px solid black; */
}
.work_pic1 img{
    width: 60%;
    height: 360px;
    margin-top: 20px;
    /*border: 1px solid blue;*/
}
.work_pic2 img{
    width: 60%;
    height: 360px;
    margin-top: 20px;
    /*border: 1px solid blue;*/
}
.work_pic3 img{
    width: 60%;
    height: 360px;
    margin-top: 20px;
    /*border: 1px solid blue;*/
}




.contact{
	width: 100%;
	height: 915px;
	/*border: 2px solid blue;	*/
	float: left;
	margin-top: 150px;
}
.info_text{
	width: 100%;
	height: 70px;
	/*border: 2px solid yellow;	*/
	margin-top: 20px;
	float: left;
	font-size: 21px;
	padding: 4px 35px;
	color: #6E6B69;
	text-align: center;
}
.get_in_touch{
	width: 100%;
	height: 60px;
	/*border: 2px solid darkolivegreen;	*/
	float: left;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	padding-top: 10px;
	margin-top: 20px;
	letter-spacing: 2px;
	color: coral;
}
.contact_info{
	width: 100%;
	height: 150px;
	/*border: 2px solid red;	*/
	float: left;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.address_box{
	width: 25%;
	height: 100%;
	/*border: 1px solid purple;		*/
}
.small_font_2{
	width: 100%;
	height: 30px;
	/*border: 1px solid red;*/
	font-size: 20px;
	font-weight: 600;
	color: #00A78E;
	letter-spacing: 1px;
	text-align: center;
	color: darkolivegreen;
}
.para{
	width: 100%;
	height: 50px;
	/*border: 2px solid red;*/
	text-align: center;
	margin-top: 10px;
	font-size: 25px;
	font-weight: 700;
	color: #00A78E;
}
.para2{
	width: 100%;
	height: 30px;
	/*border: 2px solid darkred;*/
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #6E6B69;
}
.para3{
	width: 100%;
	height: 80px;
	/*border: 2px solid darkred;*/
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #6E6B69;
}
.social{
	width: 100%;
	height: 40px;
	/*border: 1px solid black;*/
	float: left;
	font-size: 23px;
	padding: 3px;
}
.social_icon{
	width: 27%;
	height: 40px;
	/*border: 1px solid chocolate;*/
	margin: 0 auto;
}
.social i{
	padding-left: 8%;
}
.map{	
	width: 100%;
	height: 400px;
	/*border: 1px solid green;*/
	float: left;
	margin-top: 30px;
}
.footer{
	width: 100%;
	height: 103px;
	/*border: 2px solid white;	*/
	float: left;
	background-color: black;
}
.footer_text{
	width: 60%;
	height: 30px;
	/*border: 2px solid red;	*/
	margin: 0 auto;
	margin-top: 35px;
	color: whitesmoke;
	font-size: 20px;
	text-align: center;
	word-spacing: 5px;
}
